
<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="vieport" content ="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/webkiosk.css' %}>
    <title>  {% block pagetitle %}{% endblock %}</title>
  </head>
  <body>
    <header>
      <nav>
        <li><a href="{% url 'webkiosk:index' %}">HOME</a></li>
        <li><a href="signin.html">LOGIN</a></li>
        <li><a href="{% url 'webkiosk:listcustomer' %}">CUSTOMERS</a></li>
        <li><a href="{% url 'webkiosk:listfood' %}">STORE</a></li>
        <li><a href="{% url 'webkiosk:listorders' %}">ORDERS</a></li>
      </nav>
      <h1 class="store-name store-name-large">Jondi&Andy</h1>
    </header>
    <main>

    {% block maincontent %}


    {% endblock %}
    </main>
    <footer>
      <h3 class="store-name">© Jondi&Andy 2021</h3>
      <ul class="footer-nav">
        <li>
          <a href="https://www.facebook.com/jonisgoodies/" target="_blank">
            <img src="Images/FB Logo.png">
        </a>
        </li>
        <li>
          <a href="https://www.instagram.com/jonisgoodies/" target="_blank">
            <img src="Images/IG Logo.png">
          </a>
        </li>
      </ul>
    </footer>
  </body>

</html>
