{% extends 'webkiosk/base.html' %}
{% block pagetitle %} Grubfood - Add or Edit Food
{% endblock %}
{% block maincontent%}
<section class="container content-section">
  <h2>Add or Edit Food</h2>
  <form method ="POST">
    {% csrf_token %}
    {{form.foodname.label}}
    {{form.foodname}}
    {{form.fooddescription.label}}
    {{form.fooddescription}}
    {{form.foodprice.label}}
    {{form.foodprice}}


    <ul>
      {% for message in messsages%}
      <li>{{ message}}</li>
      {% endfor %}
    </ul>
    
  </form>
<button class="btn btn-submit" input type='submit', value="submit"> Submit</button>
</section>
{% endblock %}
