{% extends 'webkiosk/base.html' %}
{% block pagetitle %} Grubfood - Login
{% endblock %}
{% block maincontent%}





<div class="container content-section">
  <h2>Login</h2>
      <form method="POST" action="">
        {% csrf_token %}

          <label for="name"> Username</label>
            <input type="text" name="username" id="username" placeholder="Username" required>
          <label for="password"> Password</label>
            <input type="password" name="password" id="password" placeholder="password" required>
          <button class="btn btn-submit" type="submit" name = "Create User"> Submit</button>
      </form>
      {% for message in messages %}
        <p id="messages"> {{message}}</p>
      {% endfor %}
      	Don't have an account? <a href="{% url 'webkiosk:register-page' %}" class="ml-2">Sign Up</a>
</div>
{% endblock %}
