{% extends 'webkiosk/base.html' %}
{% block pagetitle %} Grubfood - Add or Edit Order
{% endblock %}
{% block maincontent%}
<section class="container content-section">
  <h2>Add or Edit Order</h2>
  <form method ="POST">
    {% csrf_token %}
    {{form.paymentmode.label}}
    {{form.paymentmode}}
    {{form.quantity.label}}
    {{form.quantity}}
    {{form.food.label}}
    {{form.food}}
    {{form.customer.label}}
    {{form.customer}}
    <ul class="dropdown-menu">
      <button class="btn btn-submit" input type='submit', value="submit"> Submit</button>
    </ul>
    <ul>
      {% for message in messsages%}
      <li>{{ message}}</li>
      {% endfor %}

    </ul>
  </form>
</section>
{% endblock %}
