{% extends 'webkiosk/base.html' %}
{% block pagetitle %} Grubfood - Order: {{order.id}}{{endblock}}
{% endblock %}
{% block maincontent%}


<table class="container content-section">
  <h2>Order {{ order.id }}</h2>
<ul>
  <tr>
    <th>Name</th>
    <th>Date and Time</th>
    <th>Payment mode</th>
    <th>Quantity</th>
    <th>Food</th>
    <th>Total Price</th>
  </tr>

  <td>{{ order.customer.lastname }}, {{ order.customer.firstname }}</td>
  <td>{{ order.orderdatetime }}</td>
  <td>{{ order.paymentmode }}</td>
  <td>{{ order.quantity }}</td>
  <td>{{ order.food.foodname }}</td>
  <td><p id="demo"></p></td>


  <script>
    let x = {{order.food.foodprice}};
    let y = {{order.quantity}};
    let z = x * y;
  document.getElementById("demo").innerHTML = "Php " + z;
</script>
</ul>
</table>

{% endblock %}
