<html lang="en">
  <head>
    <meta charset="UTF=8">
    <meta name="vieport" content ="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-COMPATIBLE" content="ie=edge">
    <title>Jondi&Andy | Login</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="store.js" async></script>
  </head>
  <body>
    <header>
      <nav>
        <a href="index.html">SIGN UP</a>
        <a href="signin.html">LOGIN</a>
        <a href="customers.html">CUSTOMERS</a>
        <a href="foods.html">STORE</a>
        <a href="orders.html">ORDERS</a>
      </nav>
      <h1 class="store-name store-name-large">Jondi&Andy</h1>
    </header>
    <form action="results.html" method="GET">
      <label for="email"> Email</label>
        <input ype="email" name="email" id="email" placeholder="email" required>
      <label for="password"> Password</label>
        <input type="password" name="password" id="password" placeholder="password" required>
      <button class="btn btn-submit" type="submit"> Submit</button>
    </form>
    <footer>
      <h3 class="store-name">© Jondi&Andy 2021</h3>
      <ul class="footer-nav">
        <li>
          <a href="https://www.facebook.com/jonisgoodies/" target="_blank">
            <img src="Images/FB Logo.png">
        </a>
        </li>
        <li>
          <a href="https://www.instagram.com/jonisgoodies/" target="_blank">
            <img src="Images/IG Logo.png">
          </a>
        </li>
      </ul>
    </footer>
  </body>
</html>
